*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
}


#main-wrapper{
    display: flex;
    flex-direction: column;

    h1{
        text-align: center;
        padding-top: 2rem;
    }
}

#input{
    min-height: 350px;
    margin-bottom: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#input-box{
    width: 21rem;
    max-height: 200px;

    #input-title,
    #input-note,
    #input-content{
        width: 20rem;
        overflow: auto;
        padding: 1rem 1rem 1.5rem 1rem;
        margin: 0.5rem;
        border-radius: 5px;
        border: 1px solid black;
        max-height: 150px;
        outline: none;

        p{
            margin-top: 1rem;
        }
    }

    #input-content{
        display: none;
    }
}

#notes-wrapper{
    margin: auto;
    display: flex;
    flex-direction: column;


    .note-box{
        border: 1px solid black;
        border-radius: 5px;
        width: 20rem;
        min-height: 15rem;
        margin-bottom: 4rem;
        .note-title-wrapper{
            position: relative;
            display: flex;
            padding: 1rem;
            margin-bottom: 1.5rem;
            justify-content: space-between;
            border-bottom: 1px solid black;
            width: 100%;
            .note-title{
                font-weight: 700;
            }
            .note-delete-icon{
                cursor: pointer;
            }
        }
        .note-content-wrapper{
            word-wrap: break-word;
            margin: 1rem;
            max-height: 250px;
            overflow: auto;
            .note{
                margin-bottom: 1rem;
                cursor: pointer;
            }
            
            .complete{
                text-decoration: line-through;
                color: grey;
            }
        }
    }
}

